## Numpy

Импортировать NumPy под именем np

In [1]:
import numpy as np
from scipy import stats

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [2]:
vec = np.zeros(10)
vec

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

Создать вектор размера 10, заполненный единицами

In [3]:
vec = np.ones(10)
vec

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

Создать вектор размера 10, заполненный числом 2.5

In [4]:
vec = np.full(10, 2.5)
vec

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [5]:
vec = np.zeros(10)
vec[4] = 1.
vec

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

Развернуть вектор (первый становится последним)

In [6]:
vec2 = vec[(len(vec))*-1 :]
vec3 = vec[::-1]
print(vec2)
print(vec3)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [7]:
vec = np.arange(9)
x = vec.reshape(3,3)
x

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [8]:
def notzero(arr):
    ret = np.array([])
    i = 0
    for el in arr:
        if el != 0:
            #print("el is not equal 0")
            ret = np.append(ret,i)
        i += 1
    #print(ret)
    return ret
            
arr = [1,2,0,0,4,0]
nzarr = notzero(arr)
nzarr

array([0., 1., 4.])

Создать 3x3 единичную матрицу

In [9]:
X = np.full((3,3), 1)
X

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

Создать массив 3x3x3 со случайными значениями

In [10]:
np.random.random((3,3,3))

array([[[0.75937021, 0.32117189, 0.56075498],
        [0.07330258, 0.83792961, 0.03539693],
        [0.92512126, 0.32882084, 0.98260488]],

       [[0.52683497, 0.79359788, 0.07714331],
        [0.4934382 , 0.80080751, 0.45157686],
        [0.098284  , 0.94811233, 0.29926044]],

       [[0.22585999, 0.17461326, 0.89090316],
        [0.43041371, 0.42621578, 0.89901449],
        [0.87059943, 0.22404038, 0.6094899 ]]])

Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [11]:
arr = np.full(30, np.random.random())
print(arr.mean())
print(np.average(arr))

0.348765010440281
0.348765010440281

Перемножить матрицы 5x3 и 3x2

In [12]:
X1 = np.random.random((5,3))
X2 = np.random.random((3,2))
print(X1)
print(X2)
X3 = X1.dot(X2)
print(X3)

[[0.82582286 0.27999638 0.92992697]
 [0.40917352 0.13264457 0.81175141]
 [0.41892152 0.52867812 0.17164067]
 [0.97142764 0.08411908 0.26905215]
 [0.42627439 0.71184903 0.27877005]]
[[0.25934885 0.19769974]
 [0.09978472 0.21435363]
 [0.91770334 0.48103866]]
[[1.09551267 0.67061403]
 [0.86430157 0.49981015]
 [0.31891603 0.27871055]
 [0.5072425  0.33950671]
 [0.43741364 0.37096093]]

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [13]:
def gen10not0or1():
    ret = np.array([])
    while len(ret) < 10:
        r = np.random.random()
        if r != 0 and r != 1:
            ret = np.append(ret,r)
    
    return ret

vec = gen10not0or1()
print(vec)

[0.17468807 0.35343742 0.94257369 0.54203739 0.93326566 0.63428369
 0.17107203 0.09387284 0.98383368 0.76570855]

Заменить максимальный элемент на ноль

In [14]:
def maxtozero(arr):
    ret = np.array([])
    maxval = arr.max()
    for el in arr:
        if el == maxval:
            #print('max value')
            ret = np.append(ret, 0)
        else:
            #print('not max')
            ret = np.append(ret, el)
        #print(ret)
    return ret

vec0max = maxtozero(vec)
print(vec)
print('-------')
print(vec0max)

[0.17468807 0.35343742 0.94257369 0.54203739 0.93326566 0.63428369
 0.17107203 0.09387284 0.98383368 0.76570855]
-------
[0.17468807 0.35343742 0.94257369 0.54203739 0.93326566 0.63428369
 0.17107203 0.09387284 0.         0.76570855]

Преобразовать массив из float в int

In [15]:
vec = np.random.random(10) * 100
print(vec)
vec.astype(int)

[47.15751035 33.60105399 21.61916231  8.67900204 68.2625687  25.92908916
 76.73624298 41.81630515  2.65947542  6.1780092 ]

array([47, 33, 21,  8, 68, 25, 76, 41,  2,  6])

Дан массив (10,2) координат, найти расстояние от каждой точки до каждой

In [16]:
def vec_dist(a, b): # Евклидово расстояние
    return np.sqrt(np.sum((a-b)**2))

def mat_dist(X, Y):
    ret = np.array([])
    for a in X:
        row = np.array([])
        for b in Y:
            row = np.append(row, vec_dist(a, b))
        ret = np.append(ret, row)
    return ret

X = np.random.random((10,2)) * 10

X_dist = mat_dist(X, X).reshape((len(X),len(X)))

print(X_dist)

[[ 0.          6.6990914   6.43647074  9.68065005  7.85844542  4.91846432
  13.12513668  5.71635383  9.6893389  12.00384973]
 [ 6.6990914   0.          2.33634434  3.21930303  5.1366562   3.85192943
   7.55950671  4.72645529  7.6174897   7.08457972]
 [ 6.43647074  2.33634434  0.          3.62233821  2.84801142  2.06243929
   6.72171555  2.57379133  5.34794281  5.77409572]
 [ 9.68065005  3.21930303  3.62233821  0.          5.1005942   5.68286697
   4.64193935  5.99813873  7.08309508  4.67790624]
 [ 7.85844542  5.1366562   2.84801142  5.1005942   0.          3.00487337
   5.96332226  2.1813911   2.50054099  4.47698447]
 [ 4.91846432  3.85192943  2.06243929  5.68286697  3.00487337  0.
   8.32776112  1.16959953  5.1856097   7.10837934]
 [13.12513668  7.55950671  6.72171555  4.64193935  5.96332226  8.32776112
   0.          7.96052625  6.29191003  1.70119483]
 [ 5.71635383  4.72645529  2.57379133  5.99813873  2.1813911   1.16959953
   7.96052625  0.          4.09600978  6.58262896]
 [ 9.6893389   7.6174897   5.34794281  7.08309508  2.50054099  5.1856097
   6.29191003  4.09600978  0.          4.59150971]
 [12.00384973  7.08457972  5.77409572  4.67790624  4.47698447  7.10837934
   1.70119483  6.58262896  4.59150971  0.        ]]

Случайно расположить p элементов в 2D массив

In [17]:
arr_len = 93 # длина массива
start_val = 4 # начальное значение для перебора

vec = np.random.random(arr_len)
def randreshape(vec, start):
    ln = len(vec)
    i = start
    x = None
    y = None
    while x == None:
        if ln % i == 0:
            x = i
            break
        i += 1
    y = int(ln / x)
    print(x, y)
    return vec.reshape(x, y)
    
rsvec = randreshape(vec, start_val)
rsvec

31 3

array([[0.59682434, 0.16530573, 0.13150904],
       [0.0462011 , 0.95074501, 0.84483991],
       [0.49081186, 0.11195388, 0.35444543],
       [0.52032265, 0.80396349, 0.10754622],
       [0.43363724, 0.20698857, 0.92347398],
       [0.85796099, 0.04311371, 0.27768367],
       [0.7489706 , 0.55022653, 0.21057518],
       [0.30801754, 0.93935695, 0.3844917 ],
       [0.0730225 , 0.87301935, 0.66247476],
       [0.93359417, 0.55512338, 0.04562499],
       [0.54258401, 0.84849625, 0.22254199],
       [0.12593219, 0.62948485, 0.10814058],
       [0.04325322, 0.10923368, 0.91734187],
       [0.74023713, 0.02000758, 0.8227485 ],
       [0.93783441, 0.24102306, 0.07765928],
       [0.34779076, 0.54926903, 0.61040534],
       [0.35133627, 0.83200385, 0.85366647],
       [0.2954294 , 0.02767321, 0.58633935],
       [0.9853731 , 0.84921347, 0.27496852],
       [0.53948419, 0.23687228, 0.72545415],
       [0.12026357, 0.54503413, 0.32776343],
       [0.30259257, 0.53691822, 0.47816038],
       [0.14072281, 0.0985921 , 0.16931152],
       [0.88061897, 0.52397522, 0.88645646],
       [0.10609134, 0.54355177, 0.52988022],
       [0.20661342, 0.26937068, 0.64947155],
       [0.87703777, 0.65484603, 0.52087673],
       [0.35255147, 0.81013462, 0.16971468],
       [0.35915484, 0.63842177, 0.03914897],
       [0.31109353, 0.64636179, 0.72983515],
       [0.42541644, 0.94272731, 0.06133395]])

Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [18]:
vec = np.array([1, 2, 3, 4, 5])

def add_zeros(vec):
    new_vec = np.array([])
    for el in vec[:len(vec)-1]:
        new_vec = np.append(new_vec, el)
        new_vec = np.append(new_vec, [0,0,0])
    new_vec = np.append(new_vec, vec[-1]) 
    return new_vec

new_vec = add_zeros(vec)
new_vec

array([1., 0., 0., 0., 2., 0., 0., 0., 3., 0., 0., 0., 4., 0., 0., 0., 5.])

Найти наиболее частое значение в массиве

In [19]:
arr = np.array([0,1,10,1,2,2,2,3,3,4,5,2,3,3,3,11,9])
mode = stats.mode(arr)
mode[0][0]

3

Найти n наибольших значений в массиве

In [20]:
def nmax(arr, n):
    arr_unique = np.unique(arr, return_counts=False)
    print(arr_unique)
    if n > len(arr_unique):
        print("n must be less or equal than unique arr val len")
        return
    else:
        return arr_unique[-(n):]
        
nmax(arr, 2)

[ 0  1  2  3  4  5  9 10 11]

array([10, 11])

## Pandas - изучение данных

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

Скачать датасет на свой компьютер и распаковать

Считать csv файл в датафрейм food

In [21]:
import pandas as pd

Посмотреть первые 5 записей

Сколько наблюдений в наборе данных?

Сколько столбцов в наборе данных?

Напечатайте все названия столбцов

Какое название у 105 столбца?

Какой тип наблюдений в 105 столбце?

Как проиндексирован набор данных?

Каково значение имени продукта в 19-м наблюдении?

## Pandas - фильтрация данных

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [22]:
chipo = pd.read_csv(
    "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", 
    sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Как много продуктов стоят более чем $10.00?

In [23]:
chipo[["item_price"]] = chipo[["item_price"]].replace(regex=r'^\$', value='') # убираем знаки $
chipo[["item_price"]] = chipo[["item_price"]].astype(float) # меняем тип данных в item_price на float 
print(len(chipo[chipo.item_price > 10])) # получаем кол-во

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [24]:
print(chipo[["item_name","item_price"]])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
9                             Steak Burrito        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
13                             Chicken Bowl       11.25
14                      Chips and Guacamole        4.45
15    Chips and Tomatillo-Green Chili Salsa        2.39
16                          Chicken Burrito        8.49
17                          Chicken Burrito        8.49
18                              Canned Soda        2.18
19                             Chicken Bowl        8.75
20                      Chips and Guacamole        4.45
21                         Barbacoa Burrito        8.99
22                         Nantucket Nectar        3.39
23                          Chicken Burrito       10.98
24                                     Izze        3.39
25             Chips and Fresh Tomato Salsa        2.39
26                             Chicken Bowl        8.49
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
29                          Chicken Burrito        8.49
...                                     ...         ...
4592                       Barbacoa Burrito       11.75
4593                          Carnitas Bowl       11.75
4594                          Barbacoa Bowl       11.75
4595                           Chicken Bowl        8.75
4596                    Chips and Guacamole        4.45
4597                      Canned Soft Drink        1.25
4598                          Bottled Water        1.50
4599                           Chicken Bowl        8.75
4600                    Chips and Guacamole        4.45
4601                      Canned Soft Drink        1.25
4602                       Barbacoa Burrito        9.25
4603                       Barbacoa Burrito        9.25
4604                           Chicken Bowl        8.75
4605                    Chips and Guacamole        4.45
4606                      Canned Soft Drink        1.25
4607                          Steak Burrito       11.75
4608                         Veggie Burrito       11.25
4609                      Canned Soft Drink        1.25
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25
4613                                  Chips        2.15
4614                          Bottled Water        1.50
4615                     Chicken Soft Tacos        8.75
4616                    Chips and Guacamole        4.45
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

Отсортировать по имени предмета

In [25]:
chipo.sort_values(by=['item_name'])

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49
1167,481,1,6 Pack Soft Drink,[Coke],6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49
2108,849,1,6 Pack Soft Drink,[Coke],6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49
2389,949,1,6 Pack Soft Drink,[Coke],6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...,...,...
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

Сколько было заказано самого дорогого предмета?

In [26]:
psc = chipo.sort_values(by=['item_price'], ascending=False).copy()
psc["quantity"][:1]

3598    15
Name: quantity, dtype: int64

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [33]:
# если имелось в виду сколько единиц товара заказали
grouped = chipo[chipo.item_name=="Veggie Salad Bowl"].groupby(['item_name']).sum()
print("единиц товара ", grouped.iloc[0]["quantity"])

# если надо посчитать кол-во "чеков" в котором есть товар
print("количество чеков = ", len(chipo[chipo.item_name=="Veggie Salad Bowl"]))

единиц товара  18.0
количество чеков =  18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [30]:
len(chipo[(chipo.item_name=="Canned Soda") & (chipo.quantity > 1)])

20